<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <title>
        {% block title %}
        Discipline
        {% endblock %}
        </title>
</head>
<body>
    <section>
        <ul>
            <li><b>Номер программы: </b>{{Num_programm}}</li>
            <li><b>Название программы: </b>{{Name_programm}}</li>
            <li><b>Дисциплина: </b>{{Discipline}}</li>
            <li><b>Год обучения: </b>{{Year}}</li>
            <li><b>Количество групп: </b>{{am_group}}</li>
        </ul>
    </section>
</body>
</html>